.article-listing-container {
    border: 2px solid black;
    display: flex;
    gap: 30px;
    padding: 20px;
    width: 1000px;

    .article-details {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2, h3, p {
            margin: 0;
        }

        h2 {
            font-size: 32px
        }

        h3 {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;
        }

        h4 {
            font-weight: 700;
        }
    }

    img {
        width: 300px;
    }
}